/* styling algemeen */ 
* {
  margin: 0px 0px;
  color: white;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style-type: none;
  font-weight: 300;
  margin: 0;
  padding: 0;
}


body {
  background-color:  rgb(7, 7, 9);
}

h1 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
  padding: 5px 20px;

}

/* Images Home */ 
img, video {
  width: 100%;
  pointer-events: none;
}

.foto {
  margin: 20px 0px;
}



/* Video logo boven navigatie */ 
.logo-img {
  width: 20%;
  margin-bottom: 20px;
}


/* Navigatie */ 
nav {
  display: inline;
  position: fixed;
  margin-left: 100px;
}

li a {
  line-height: 25px;
}

li a:hover {
  color: orange;
}

.mobiel {
  display: none;
}



/* linkjes los van de navigatie (contact+overmij), deze zijn wat meer bold  */ 
.links-los {
  font-weight: 500;
}



/* content */ 
.home-content {
  margin: 100px 0px 0px 200px;
}

.flexbox-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.flexbox-item.projecten {
  position:relative;
  width: 500px;
  height: auto;
  margin: 5px;
}

.overmij {
 width: 500px;
}

.beschrijving-video {
  width: 1000px;
  margin: 50px 0px 25px 0px;
}


/* Styling for hover*/ 

.overlay  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.flexbox-item.projecten:hover .overlay {
  opacity: 1;
}




/* footer */ 
footer p {
  text-align: center;
}

footer {
  margin: 100px 0px 25px 0px;
}

/* Styling voor info bovenaan pagina (zodat er ruimte is tussen de titel en de afbeeldingen/werk daaronder */ 
.titel-pagina {
 padding: 0px 10px;
}


@media only screen and (max-width: 1000px) {
  nav {
    display: none;
  }

  .home-content  {
    margin: 25px 5px;
    display: block;
  }

  .mobiel{
    display: block;
    width: 100%;
  }

  .naam-mobiel{
    float: left;
  }

  ul {
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 0px 5px;
    margin: 5px;
  }

  

}