/* style opties voor de hele pagina */
* {
  text-align: center;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
 background-color:  rgb(9, 9, 11); 
 margin: 0;
 padding: 0;
}
/* Navbar header etc*/

.titel-nav {
  text-align: left;
  font-weight: 500;
  margin-bottom: 50px;
  font-size: 24px;
  color: whitesmoke;
}

/* styling voor links / navigatiebar */ 

nav {
  position: fixed;
  margin-left: 100px;
  margin-top: 50px;
}


.mobiel {
  display: none;
}

.home {
  color: whitesmoke;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
}

.los {
  font-weight: 400;
  font-size: 18px;
}


.content {
  margin: 50px 0px 0px 250px;
}


h1 {
  color: whitesmoke;
  text-align: left;
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  padding-right: 0px;
  margin-bottom: 50px;
}

li a {
  display: block;
  text-align: left;
  color: whitesmoke;
  font-weight: 200;
  font-size: 18px;
  line-height: 25px;
  padding-right: 0px;
}

li a:hover {
  color: orange;
}

.foto {
  width: 50%;
}

.portfolio-mobiel {
  display: none;
}

h2 {
  color: white;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  font-weight: 500;
}

.info {
  color: white;
  width: 50%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 200;
}

.flexbox-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 0px 200px 0px;
}

.flexbox-item-projecten {
  width: auto;
  margin: 5px 5px;
  height: auto;
}


footer {
  color: white;
  font-weight: 200;
  margin-bottom: 50px;
  font-size: 14px;
}

@media only screen and (max-width: 900px) {
  .titel-nav {
    display: none;
  }

  nav {
    position: relative;
    width: 90%;
    margin: 10px 0px 0px 0px;
    display: none;
  }
  
  .mobiel {
    display: block;
    width: 100%;
    margin: 10px 0px;
  }

  .active {
    font-weight: 500;
    cursor: default;
    margin-left: 5px;
  }


  .active:hover {
    font-weight: 500;
    color: white;
  }


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: right;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    padding: 5px 5px;
    background-color: rgb(9, 9, 11);
    border-radius: 10px;
    margin-right: 5px;
  }

  .portfolio-mobiel{
    display: block;
    color: white;
    font-weight: 300;
    font-size: 24px;
    text-align: left;
    margin: 20px 0px 10px 10px;
  }

  .content, .flexbox-container {
    margin: 0;
    margin-bottom: 50px;
  }


  .content {
    left: 50%;
    width: 100%;
    margin-bottom: 0px;
  }
  
 

  .flexbox-item-projecten {
    margin: 5px 10px;
    height: auto;
  }

  .info {
    color: white;
    width: 90%;
    margin: 10px;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
  }

  .foto {
    width: 100%;
  }

  footer {
    font-weight: 300;
  }



}

@media only screen and (min-width: 1600px) {
  .content {
    margin: 100px 0px 0px 250px;
  }

  nav {
    position: fixed;
    margin-left: 100px;
    margin-top: 0px;
  }

  .flexbox-item-projecten,.flexbox-item-video {
    width: 700px;
  }
  
  .overlay-text {
    width: 640px;
    height: 292px;

  }

  body {
    background-color:  rgb(9, 9, 11);
  }

  .foto {
    width: 100%;
  }
}